Makefile
*.in
.tool-versions
*~
.DS_Store
*.rej
*.orig
*.tar.gz
etc/acmefetch.cfg
aclocal.m4
autom4te.cache
config.log
config.status
configure
thirdparty
README
!thirdparty/Makefile.am
conftools
acmefetch-*/