{
    "GENERAL": {
        "ACMEservice": "acme-v01.api.letsencrypt.org",
        "accountKeyPath": "/tmp/accountKey.pem"
    },
    "CERTS": [
        {
            "country": "CH",
            "organization": "Big Company",
            "organizationUnit": "IT-Services",
            "stateOrProvice": "Solothurn",
            "locality": "Olten",
            "certOutput": "/tmp/testCert.pem",
            "keyOutput": "/tmp/testCert.key",
            "commonName": "my.web.domain",
            "SITES": {
                "my.web.domain": {
                    "challengeHandler": "SimpleSSH",
                    "challengeConfig": {
                        "www_root": "/home/myweb/public_html/",
                        "ssh_host": "myweb@server"
                    }
                },
                "your.web.domain": {
                    "challengeHandler": "SimpleSSH",
                    "challengeConfig": {
                        "www_root": "/home/yourweb/public_html/",
                        "ssh_host": "yourweb@server"
                    }
                }
            }
        }
    ]
}
